.demo-table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.form-check-label-custom{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 0.8rem !important;
}